<div class="col-md-12 col-md">	
	<% if @book %>
	  <h1 class="text-center"><%= @book.title %></h1>

	  <p class="text-center"><em>Author:</em> &nbsp;&nbsp;&nbsp;&nbsp; <%= @book.author %></p>
	  <p class="text-center"><em>ISBN:</em> &nbsp;&nbsp;&nbsp;&nbsp; <%= @book.isbn %></p>
	  <p class="text-center"><em>Library:</em> &nbsp;&nbsp;&nbsp;&nbsp; <%= @book.library ? @book.library : "No Library" %></p>
	  <p class="text-center"><em>Availability:</em> &nbsp;&nbsp;&nbsp;&nbsp; <%= @book.patron_id.nil? ? " ✓ &nbsp;&nbsp;&nbsp;&nbsp; Available" : "✖︎ &nbsp;&nbsp;&nbsp;&nbsp; Checked out by #{book.patron.name}" %></p>
	<% else %>
	  <p class="text-center">No book of that ID exists</p>
	<% end %>

	<p class="text-center"><a href="/books/<%= @book.id %>/<%= @book.patron_id.nil? ? 'check-out' : 'check-in' %>">
			<%= @book.patron_id.nil? ? 'Check Book Out' : 'Check Book In' %></a></p>
	<p class="text-center"><a href="/books/<%= @book.id %>/edit">Edit</a></p>
	<p class="text-center"><a href="/books">Back to All Books</a></p>
</div>