<h1><%= @library.branch_name%> Books</h1>

<ul>
  <% @books.each do |book| %>
    <li><a href="/books/<%=book.id%>"><%=book.title%></li>
  <% end %>
</ul>

<p><a href="/libraries/<%=@library.id%>">Back to <%=@library.branch_name%></a></p>